.formContainer {
  height: 100vh;
  margin: 40vh auto;
  float: none
}

.form_btn {
  background-color: #C7DFC5;
  border: 1px #373737 solid;
  color: #373737;
  box-shadow: none !important;
}

.form_btn:hover,
.form_btn:focus,
.form_btn:active:focus {
  background-color: #373737 !important;
  color: #FCE694;
}

.form_label {
  background-color: #FCE694;
  color: #373737; 
  border: 1px #373737 solid;
}

.form_input,
.form_input:active {
  border: 1px #373737 solid !important;
  box-shadow: none !important;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

.logo {
  position: absolute;
  top: 25%;
  left: 50%;
  font-family: 'Montserrat', sans-serif;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #FCE694,
						20px 20px #000000;
}